.Editor_HintTextAreaFieldset{
    position:relative;
    /*position:absolute;
    top:930px;
    left:0px;*/
    width:100%;
    height:300px;
    padding:0px;
    margin:0px;
    overflow:auto;
	background: #FFFFFF;
    background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    border: 1px solid #EDEDED;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.Editor_HintTextAreaTextArea{
    overflow:auto;
    padding:0px;
    margin:0px;
    border:none;
    resize:none;
    width: 90%;
    min-width:800px;
    height:85px;
    font-family:Times, TimesNR, 'New Century Schoolbook', Georgia,'New York', serif;
    font-size:16px;
    row:3;
    line-height:17px;
  
    position:absolute;
    top:10px;
    left:10px;

    background: #FFFFFF;
    background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    border: 1px solid #EDEDED;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.Editor_HintTextAreaTextAreaBackDiv{
    width: 90%;
    min-width:800px;
    height:85px;
    overflow-y:auto;
    overflow-x:hidden;
    background-color:yellow;
    word-wrap:break-word;
    margin:0px;
    padding:0px;
    font-family:Times, TimesNR, 'New Century Schoolbook', Georgia,'New York', serif;
    font-size:16px;
    line-height:17px;
    z-index:-1;
    position:absolute;
    top:10px;
    left:10px;
}



.tipsUl{
    position:absolute;
    margin:0px;
    padding-left:5px;
    padding-right:5px;
    color:#60062C;
    background-color:#F3EFE5;
    opacity:0.8;
    z-index:1;
    height:130px;
    overflow-y: auto;   
}

.tipsLi{
    margin: 0px;
    padding:0px;
    display:block;
    clear:both;
}

.tipsLi:hover {
    background-color: #BBC7C3;
    opacity:0.5;
}

.tipsLiSelected{
    background-color:#BBC7C3
}